<!DOCTYPE html>
<html
  xmlns:th="https://www.thymeleaf.org"
  th:replace="~{layout :: html(head = null,content = ~{::content})}"
>

    <th:block th:fragment="content">
   
        <div class="page-container">
            <div class="sidebar-menu toggle-others fixed">
                <div class="sidebar-menu-inner">
                    <header class="logo-env">
                        <div class="logo">
                            <a th:href="@{${theme.config.basics.siteUrl}}" class="logo-expanded">
                                <img th:src="@{${theme.config.basics.expanded_logo}}" width="100%" alt="" style="border-radius:5px;opacity:0.8;"  />
                            </a>
                            <a th:href="@{${theme.config.basics.siteUrl}}" class="logo-collapsed">
                                <img th:src="@{${theme.config.basics.collapsed_logo}}" width="40" alt="" />
                            </a>
                        </div>
                        <div class="mobile-menu-toggle visible-xs">
                            <a href="#" data-toggle="user-info-menu">
                                <i class="linecons-cog"></i>
                            </a>
                            <a href="#" data-toggle="mobile-menu">
                                <i class="fa-bars"></i>
                            </a>
                        </div>
                    </header>
                    <ul id="main-menu" class="main-menu">
                        <li th:each="group: ${navFinder.groupBy()}"
                            th:if="${not #strings.isEmpty(group.spec.displayName)}"
                            >
                            <a th:href="@{'#'+${group.spec.displayName}}" class="smooth">
                                <i class="linecons-star"></i>
                                <span class="title">[[${group.spec.displayName}]]</span>
                            </a>
                        </li> 
                    </ul>
                </div>
            </div>
            <div class="main-content">
                <nav class="navbar user-info-navbar" role="navigation">
                    <ul class="user-info-menu left-links list-inline list-unstyled">
                        <li class="hidden-sm hidden-xs">
                            <a href="#" data-toggle="sidebar">
                                <i class="fa-bars"></i>
                            </a>
                        </li> 
                    </ul>
                    <ul class="user-info-menu right-links list-inline list-unstyled">
                        <li class="hidden-sm hidden-xs">
                            <a th:href="@{${theme.config.basics.githubUrl}}" target="_blank">
                                <i class="fa-github"></i>  GitHub
                            </a>
                        </li>
                    </ul>
                </nav>

                <div th:each="group: ${navFinder.groupBy()}">
                    <h4 class="text-gray">
                        <i class="linecons-tag" style="margin-right: 7px;" 
                            th:id="${group.spec.displayName}"
                            th:if="${not #strings.isEmpty(group.spec.displayName)}"
                            >
                            [[${group.spec.displayName}]]
                        </i>
                    </h4>
                    <div class="row">
                        <div class="col-sm-3" th:each="nav : ${group.navs}">
                            <div class="xe-widget xe-conversations box2 label-info" th:onclick="window.open([[${nav.spec.url}]])" data-toggle="tooltip" data-placement="bottom" title="" th:title="${nav.spec.url}">
                                <div class="xe-comment-entry">
                                    <a class="xe-user-img">
                                        <img th:src="${nav.spec.logo}" class="lozad img-circle" width="40" />
                                    </a>
                                    <div class="xe-comment">
                                        <a href="#" class="xe-user-name overflowClip_1">
                                            <strong th:text="${nav.spec.displayName}"></strong>
                                        </a>
                                        <p class="overflowClip_2" th:text="${nav.spec.description}"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                </div>
                
                <footer class="main-footer sticky footer-type-1">
                    <div class="footer-inner">
                        <!-- Add your copyright text here -->
                        <div class="footer-text">
                            &copy; 2023-2023
                            <a href="https://github.com/zuoer96/halo-theme-webstack"><strong>halo-theme-webstack</strong></a> design by <a th:href="@{${theme.config.basics.siteUrl}}" target="_blank"><strong>[[${theme.config.basics.authorName}]]</strong></a>
                            <!--  - Purchase for only <strong>23$</strong> -->
                        </div>
                        <!-- Go to Top Link, just add rel="go-top" to any link to add this functionality -->
                        <div class="go-up">
                            <a href="#" rel="go-top">
                                <i class="fa-angle-up"></i>
                            </a>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
    

        <script th:src="@{/assets/js/jquery-1.11.1.min.js}"></script>
        <!-- 锚点平滑移动 -->
        <script type="text/javascript">
        $(document).ready(function() {
                //img lazy loaded
                const observer = lozad();
                observer.observe();

            $(document).on('click', '.has-sub', function(){
                var _this = $(this)
                if(!$(this).hasClass('expanded')) {
                    setTimeout(function(){
                        _this.find('ul').attr("style","")
                    }, 300);
                    
                } else {
                    $('.has-sub ul').each(function(id,ele){
                        var _that = $(this)
                        if(_this.find('ul')[0] != ele) {
                            setTimeout(function(){
                                _that.attr("style","")
                            }, 300);
                        }
                    })
                }
            })
            $('.user-info-menu .hidden-sm').click(function(){
                if($('.sidebar-menu').hasClass('collapsed')) {
                    $('.has-sub.expanded > ul').attr("style","")
                } else {
                    $('.has-sub.expanded > ul').show()
                }
            })
            $("#main-menu li ul li").click(function() {
                $(this).siblings('li').removeClass('active'); // 删除其他兄弟元素的样式
                $(this).addClass('active'); // 添加当前元素的样式
            });
            $("a.smooth").click(function(ev) {
                ev.preventDefault();

                public_vars.$mainMenu.add(public_vars.$sidebarProfile).toggleClass('mobile-is-visible');
                ps_destroy();
                $("html, body").animate({
                    scrollTop: $($(this).attr("href")).offset().top - 30
                }, {
                    duration: 500,
                    easing: "swing"
                });
            });
            return false;
        });

        var href = "";
        var pos = 0;
        $("a.smooth").click(function(e) {
            $("#main-menu li").each(function() {
                $(this).removeClass("active");
            });
            $(this).parent("li").addClass("active");
            e.preventDefault();
            href = $(this).attr("href");
            pos = $(href).position().top - 30;
        });
        </script>
        
        <!-- Bottom Scripts -->
        <script th:src="@{/assets/js/bootstrap.min.js}"></script>
        <script th:src="@{/assets/js/TweenMax.min.js}"></script>
        <script th:src="@{/assets/js/resizeable.js}"></script>
        <script th:src="@{/assets/js/joinable.js}"></script>
        <script th:src="@{/assets/js/xenon-api.js}"></script>
        <script th:src="@{/assets/js/xenon-toggles.js}"></script>
        <!-- JavaScripts initializations and stuff -->
        <script th:src="@{/assets/js/xenon-custom.js}"></script>
        <script th:src="@{/assets/js/lozad.js}"></script>
      
    </th:block>
</html>
