<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="https://www.thymeleaf.org"
  th:fragment="html (head,content)"
>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=2"/>
    <meta name="author" content="viggo" />
    <title th:text="${theme.config.basics.siteTitle+' - '+theme.config.basics.subTitle}"></title>
    <meta name="keywords" content="UI设计,UI设计素材,设计导航,网址导航,设计资源,创意导航,创意网站导航,设计师网址大全,设计素材大全,设计师导航,UI设计资源,优秀UI设计欣赏,设计师导航,设计师网址大全,设计师网址导航,产品经理网址导航,交互设计师网址导航,www.webstack.cc">
    <meta name="description" content="WebStack - 收集国内外优秀设计网站、UI设计资源网站、灵感创意网站、素材资源网站，定时更新分享优质产品设计书签。www.webstack.cc">
    <link rel="apple-touch-icon" th:href="${theme.config.basics.logo}">
        
    <link rel="shortcut icon" th:href="@{/assets/images/favicon.png}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Arimo:400,700,400italic">
    <link rel="stylesheet" th:href="@{/assets/css/fonts/linecons/css/linecons.css}">
    <link rel="stylesheet" th:href="@{/assets/css/fonts/fontawesome/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/assets/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/assets/css/xenon-core.css}">
    <link rel="stylesheet" th:href="@{/assets/css/xenon-components.css}">
    <link rel="stylesheet" th:href="@{/assets/css/xenon-skins.css}">
    <link rel="stylesheet" th:href="@{/assets/css/nav.css}">
    <link rel="stylesheet" th:href="@{/assets/css/mystyle.css}">
    <th:block th:if="${head != null}">
      <th:block th:replace="${head}" />
    </th:block>

    <!-- / FB Open Graph -->
    <meta property="og:type" content="article">
    <meta property="og:url" content="http://www.webstack.cc/">
    <meta property="og:title" content="WebStack - 收集国内外优秀设计网站、UI设计资源网站、灵感创意网站、素材资源网站，定时更新分享优质产品设计书签。www.webstack.cc">
    <meta property="og:description" content="UI设计,UI设计素材,设计导航,网址导航,设计资源,创意导航,创意网站导航,设计师网址大全,设计素材大全,设计师导航,UI设计资源,优秀UI设计欣赏,设计师导航,设计师网址大全,设计师网址导航,产品经理网址导航,交互设计师网址导航,www.webstack.cc">
    <meta property="og:image" content="http://webstack.cc/assets/images/webstack_banner_cn.png">
    <meta property="og:site_name" content="WebStack - 收集国内外优秀设计网站、UI设计资源网站、灵感创意网站、素材资源网站，定时更新分享优质产品设计书签。www.webstack.cc">
    <!-- / Twitter Cards -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="WebStack - 收集国内外优秀设计网站、UI设计资源网站、灵感创意网站、素材资源网站，定时更新分享优质产品设计书签。www.webstack.cc">
    <meta name="twitter:description" content="UI设计,UI设计素材,设计导航,网址导航,设计资源,创意导航,创意网站导航,设计师网址大全,设计素材大全,设计师导航,UI设计资源,优秀UI设计欣赏,设计师导航,设计师网址大全,设计师网址导航,产品经理网址导航,交互设计师网址导航,www.webstack.cc">
    <meta name="twitter:image" content="http://www.webstack.cc/assets/images/webstack_banner_cn.png">

  </head>
  <body class="page-body">
    <th:block th:replace="${content}" />
  </body>
</html>
